body {
    background: #DDDDDD;
}
.container{
    display: grid;
    width: 780px;
    margin: 0 auto;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.3fr 4fr 0.2fr ;
    grid-template-areas:
        "nav nav"
        "content1 sidebar"
        "footer footer";
    grid-gap:0.2em;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
nav{
    background: rgb(63, 63, 63);
    grid-area: nav;
    border-radius: 9px;
    color: white;
}
nav ul li{
    float: left;
    padding-right: 10%;
    margin-bottom: 10px;
    
}
nav img{
    width: 45px;
    padding: 15px 0 0 5%;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav form{
    float:right;
	margin-top: 25px;
    margin-right: 5%;
}
#textsearch{
    width: 150px;
    padding: 0.5em;

}
.content1{
    background: white;
    grid-area: content1;
    padding: 10px;
    margin-top: 10px;
    line-height: 1.5em;
}
.content1 h1{
    margin: 0 0 5px 0;
}
.content1 p{
    text-align: left;
    
}
.sidebar{
    grid-area: sidebar;
    padding: 0 3%;
    text-align: justify;
    line-height: 1.25em;
}
.sidebar ul li{
    margin-left: -10px;
}
.sidebar a{
    text-decoration: none;
    color: black;
}
.sidebar h2{
    text-align: left;
}
footer{
    grid-area: footer;
    clear:both;
    margin:20px 0 0 0;
    text-align:center;
    background-color: #f0f0f0;
    padding:5px;
    color:#555555;
}
a:hover{
    opacity: 60%;
}
.form {
    padding: 10px 0px 0px 20px;
    color: rgb(0, 0, 0);
}
input,textarea {
    margin: -5px;
    width :60%;
    border :1px solid #303030;
    font-size : 15px;
    border-radius: 3px;
}
.submit {
    color: white;
    font-family: "segoe UI";
    background-color: rgb(105, 105, 105);
    border: solid 1px rgb(75, 75, 75);
    border-radius: 3px;
}
.submit:hover{
    opacity: 0.8;
}
span{
    color: red;
}